/* Define the light version of the font */
@font-face {
  font-family: 'Gotham';
  src: url('/public/fonts/GothamLight.ttf') format('opentype');
  font-weight: 300;
  /* Light weight */
  font-style: normal;
}

/* Define the bold version of the font */
@font-face {
  font-family: 'Gotham';
  src: url('/public/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  background-color: white;


  /* Adding a solid white border */
}